@use "globals/variables" as v;
@use "globals/mixins" as m;
@use "./location-card";

section:has(+ .site-footer .contact-form-footer),
main:has(+ .site-footer .contact-form-footer) {
  padding-bottom: var(--sp-lg);
}

section.contact-form--side-pic:has(+ .site-footer .contact-form-footer) {
  padding-bottom: 0;

  .contact-form__wrapper {
    padding-bottom: var(--sp-lg);
  }
}

.site-footer {
  position: relative;
  z-index: 5;
  overflow: visible;

  //Footer Form Section
  .contact-form-footer {
    padding: 3rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    @media (min-width: v.$tablet) {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    &__map {
      max-width: 55rem;
      width: 90%;
      height: auto;
      margin: 0 auto;
      display: flex;
      aspect-ratio: 1/1;
      border: 2px solid rgb(var(--tertiary-light));

      @media (min-width: v.$tablet) {
        max-width: 100%;
        width: 100%;
        margin: 0;
        flex: 0 0 40%;
        border: none;
      }

      &-iframe {
        width: 100%;
        height: 100%;
        display: block;
        filter: saturate(0);
      }
    }

    &__wrapper {
      max-width: 55rem;
      width: 90%;
      margin: 0 auto;

      @media (min-width: v.$tablet) {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 6rem 3rem 0 0;
        flex: 0 0 55%;
        display: flex;
        justify-content: flex-start;
      }
    }

    &__inner {
      max-width: 72rem;
    }
  }

  .contact-form {
    flex: 1 0 calc(50% - var(--sp-sm) / 2);
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);

    &__title {
      @include m.title(rgb(var(--text)), 2.2rem, 3.33vw, 4.3rem, 200);
    }

    &__description {
      color: rgb(var(--text));
    }

    &__form {
      width: 100%;
      display: flex;
    }

    &__message {
      padding: var(--sp-xsm);
      @include m.flex-center;
      border: 1px solid rgb(var(--tertiary));

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  //Footer Locations Section
  .locations-footer {
    width: 100%;
    padding: var(--sp-xsm) 0;

    @media (min-width: v.$mdpi) {
      padding: var(--sp-sm) 0;
    }

    &__wrapper {
      padding: var(--sp-xsm);
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);

      @media (min-width: v.$mdpi) {
        padding: var(--sp-sm);
        gap: var(--sp-sm);
      }
    }

    &__content {
      @include m.flex-center;
      flex-direction: column;
      gap: calc(var(--sp-xsm) / 2);

      @media (min-width: v.$mdpi) {
        gap: var(--sp-xsm);
      }
    }

    &__title {
      @include m.title(rgb(var(--primary)), 4rem, 4.16vw, 4.6rem);
    }

    &__separator {
      max-width: 70%;
    }
  }

  .locations-cards {
    max-width: 100%;
    margin-bottom: 7.4rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--sp-xsm) / 2);

    @media (min-width: v.$mdpi) {
      margin-bottom: 9rem;
    }

    &:has(.location-card:only-child) {
      width: 100%;
      margin-bottom: 0 !important;
      flex-wrap: wrap;
      align-items: stretch;
      row-gap: var(--sp-sm);

      & > *:not(.btn) {
        min-width: 280px;
        margin-bottom: 0;
        width: calc(50% - var(--sp-xsm) / 4) !important;
        flex: 0 0 calc(50% - var(--sp-xsm) / 4) !important;
      }
      & > .btn {
        min-width: 280px;
        display: block;
        flex: 0;
        text-align: center;
      }
    }

    &__carousel {
      width: 100%;
      flex: 0 0 100%;
      /*  width: calc(50% - var(--sp-xsm) / 4);
      flex: 0 0 calc(50% - var(--sp-xsm) / 4); */

      @media (min-width: v.$tablet) {
        width: calc((2 * (100% / 3)) - var(--sp-xsm) / 4);
        flex: 0 0 calc((2 * (100% / 3)) - var(--sp-xsm) / 4);
      }

      @media (min-width: v.$mdpi) {
        width: calc((4 * (100% / 5)) - var(--sp-xsm) / 4);
        flex: 0 0 calc((4 * (100% / 5)) - var(--sp-xsm) / 4);
      }
    }

    &__arrows {
      //width: calc((100% * 2) + var(--sp-xsm));
      position: absolute;
      top: calc(100% + var(--sp-md));
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: v.$tablet) {
        width: calc((3 * (100% / 2)) + var(--sp-xsm) / 4);
        flex: 0 0 calc((3 * (100% / 2)) + var(--sp-xsm) / 4);
        right: 0;
        left: auto;
        transform: none;
      }

      @media (min-width: v.$mdpi) {
        width: calc((5 * (100% / 4)) + var(--sp-xsm) / 4);
        flex: 0 0 calc((5 * (100% / 4)) + var(--sp-xsm) / 4);
        top: calc(100% + var(--sp-sm));
      }
    }
  }

  .copyright-footer {
    width: 100%;
    padding: var(--sp-xsm) 0;

    @media (min-width: v.$mdpi) {
      padding: var(--sp-sm) 0;
    }

    &__wrapper {
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);
    }
  }

  .footer-nav {
    padding: var(--sp-xsm) 0;

    &__menu {
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);

      @media (min-width: v.$tablet) {
        flex-direction: row;
      }
    }

    .menu-item {
      span {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: rgb(var(--primary));
        transition: 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: rgb(var(--tertiary));
        }
      }
    }
  }
}
