@use "globals/variables" as v;
@use "globals/mixins" as m;

// Header Styles
.site-header {
  width: 100%;
  max-width: 100vw;
  position: static;
  z-index: 9999;
  background-color: rgb(var(--primary));
  @include m.flex-center;
  border-bottom: 1px solid rgb(var(--secondary-light));

  $header: &;

  @media (min-width: v.$tablet) {
    border-bottom: none;
  }

  @media (min-width: v.$mdpi) {
    &:not(:has(#{$header}__cta)) {
      #{$header}__navigation {
        justify-items: end;
      }

      #{$header}__callout {
        grid-column-end: none !important;
      }
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.3s ease;

    &.scrolling {
      background-color: rgb(var(--primary));
      border-bottom: 4px solid rgb(var(--tertiary));
      transition: 0.3s ease;

      #{$header}__wrapper {
        @media (min-width: v.$mdpi) {
          column-gap: 1.5rem;
        }
      }

      #{$header}__logo {
        @media (min-width: v.$mdpi) {
          max-height: 13rem;
          grid-row: 1/3;
          justify-content: flex-end;

          img {
            object-position: right center;
          }
        }

        .site-logo {
          picture {
            opacity: 0;
          }

          &__symbol {
            opacity: 1;
          }
        }
      }

      #{$header}__navigation {
        @media (min-width: v.$mdpi) {
          grid-column: 1/5;
        }
      }

      #{$header}__callout {
        width: 100%;
        grid-column: 2/4;
      }

      .main-nav__menu {
        justify-content: center;
        column-gap: 2rem;
      }
    }
  }

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: stretch;
    transition: 0.3s ease;

    @media (min-width: v.$tablet) {
      grid-template-columns: 3fr 4fr 3fr 3fr;
    }

    @media (min-width: v.$mdpi) {
      max-width: 1320px;
      width: calc(100% - var(--sp-sm));
      margin: 0 auto;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(4, 3fr);
      row-gap: 1rem;
      column-gap: var(--sp-lg);
      place-items: center;
      position: relative;
    }
  }

  &__logo {
    max-height: 9.5rem;
    padding: var(--sp-xsm) 0;
    z-index: 10;
    grid-column: 1/3;
    grid-row: 1/2;
    @include m.flex-center;

    @media (min-width: v.$tablet) {
      padding: 0;
      height: 6rem;
      grid-column: 1/2;
    }
    @media (min-width: v.$mdpi) {
      max-height: 100%;
      height: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0.5rem var(--sp-xsm);
      grid-column: 1/2;
      grid-row: 1/4;
    }
  }

  &__cta {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;

    @media (min-width: v.$tablet) {
      grid-row: 1/2;
      grid-column: 3/4;
      justify-self: end;
      border-right: 1px solid rgb(var(--secondary-light));
    }
    @media (min-width: v.$mdpi) {
      min-width: max-content;
      position: relative;
      z-index: 10;
      grid-column: 4/5;
      grid-row: 1/3;
      border-right: none;
    }
  }

  &__mobile-btn {
    padding: 6px 8px;
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    @include m.flex-center;
    gap: 5px;
    background-color: rgb(var(--tertiary));
    border-right: 1px solid rgb(var(--secondary-light));
    transition: 0.3s ease-in-out;

    @media (min-width: v.$tablet) {
      grid-row: 1/2;
      grid-column: 4/5;
      border-right: none;
    }

    @media (min-width: v.$mdpi) {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(var(--tertiary-light));
    }

    span {
      color: rgb(var(--secondary-light));
    }

    div {
      width: 24px;
      height: 24px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      hr {
        width: 20px;
        height: 2px;
        background-color: rgb(var(--secondary-light));
      }
    }
  }

  &__close-btn {
    width: 24px;
    height: 24px;
    margin: 15px 15px 15px auto;
    position: relative;
    display: block;

    hr {
      width: 20px;
      height: 2px;
      background-color: rgb(var(--secondary-light));

      &:first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__navigation {
    width: 25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -25rem;
    z-index: 100000;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--primary));
    transition: all 0.5s cubic-bezier(1, 0.355, 0.355, 1);

    &.active {
      left: 0;
    }

    @media (min-width: v.$tablet) {
      width: 35rem;
      left: -35rem;
      grid-column: 1/3;
      grid-row: 2/3;
    }

    @media (min-width: v.$mdpi) {
      width: 100%;
      height: auto;
      position: static;
      z-index: 5;
      grid-column: 2/5;
      grid-row: 1/4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      background-color: transparent;
      transition: 0.3s ease;
    }
  }

  &__callout {
    width: 100%;

    @media (min-width: v.$mdpi) {
      width: 90%;
      grid-column: 1/4;
      grid-row: 1/2;
    }
  }

  .site-logo {
    max-width: 300px;
    width: 100%;
    height: 100%;
    position: relative;
    @include m.flex-center;
    cursor: pointer;

    picture {
      width: 100%;
      height: 100%;
      position: static;
      display: flex;
      z-index: 1;
      opacity: 1;
      transition: 0.3s ease-in;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    span {
      width: 20%;
      height: 20%;
      position: absolute;
      z-index: -1;
      font-size: 1px;
      opacity: 0;
    }

    &__symbol {
      width: 80%;
      height: 80%;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0;
      transition: 0.3s ease-in;

      svg {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        path {
          fill: rgb(var(--secondary));
        }
      }
    }
  }

  .main-nav {
    width: 100%;
    height: fit-content;
    max-height: 80%;

    @media (min-width: v.$tablet) {
      max-height: none;
      position: static;
      border: none;
    }

    @media (min-width: v.$mdpi) {
      grid-column: 1/5;
      grid-row: 2/3;
    }

    &__menu {
      height: 100%;
      overflow-y: scroll;

      @media (min-width: v.$mdpi) {
        overflow-y: unset;
        display: flex;
        justify-content: space-between;
        column-gap: 0.5rem;
      }
    }
  }

  .menu-item {
    width: 100%;
    position: relative;

    @media (min-width: v.$mdpi) {
      width: fit-content;
      @include m.flex-center;
    }

    a {
      width: 100%;
      height: 100%;
      padding: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;

      @media (min-width: v.$mdpi) {
        height: auto;
        padding: 1.2rem;
        border: none;
      }

      &:hover {
        cursor: pointer;
        background-color: rgb(var(--primary-light));

        span {
          color: rgb(var(--tertiary-light));
        }

        @media (min-width: v.$mdpi) {
          background-color: transparent;
        }
      }
    }

    span {
      font-family: var(--font-sans);
      font-size: 1.6rem;
      line-height: 1.5;
      color: rgb(var(--secondary-light));
      transition: 0.3s ease-in-out;

      @media (min-width: v.$tablet) {
        font-size: 1.8rem;
      }

      @media (min-width: v.$mdpi) {
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }

    &-has-children {
      flex-direction: column;

      @media (min-width: v.$mdpi) {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover {
          .sub-menu {
            & > .menu-item {
              max-height: 350px;
            }
          }
        }

        &:has(.menu-item-has-children:hover) {
          overflow: visible;
        }
      }

      &::after {
        content: "\002B";
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        @include m.flex-center;
        top: 1.6rem;
        right: 1.6rem;
        z-index: 10;
        font-size: 2.5rem;
        color: rgb(var(--secondary-light));

        @media (min-width: v.$mdpi) {
          content: "\276F";
          width: 2rem;
          height: 2rem;
          position: static;
          transform-origin: center;
          transform: rotate(90deg);
        }
      }
    }

    & > .sub-menu {
      min-width: 100%;
      width: max-content;
      padding-left: 2.5rem;
      display: flex;
      flex-direction: column;

      @media (min-width: v.$mdpi) {
        padding-left: 0;
        position: absolute;
        top: 100%;
        left: 0;
      }

      & > .menu-item {
        min-width: 100%;
        width: fit-content;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(1, 0.355, 0.355, 1);

        @media (min-width: v.$mdpi) {
          background-color: rgb(var(--tertiary));

          &:hover {
            background-color: rgb(var(--tertiary-light));
            span {
              color: rgb(var(--secondary-light));
            }
          }
        }

        &-has-children {
          @media (min-width: v.$mdpi) {
            &::after {
              position: static;
              transform: rotate(0);
            }

            &:hover {
              overflow: visible;

              .sub-menu {
                overflow: visible;
              }
            }
          }
        }
      }

      .sub-menu {
        @media (min-width: v.$mdpi) {
          left: 100%;
          top: 0;
        }
      }
    }

    &.active {
      & > .sub-menu {
        & > .menu-item {
          max-height: 350px;
        }
      }

      &::after {
        content: "\2212";
      }
    }
  }

  .callout {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    @media (min-width: v.$mdpi) {
      padding: 0.5rem 1.6rem;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      place-items: center;
    }

    span {
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1.5;
      color: rgb(var(--secondary-light));

      @media (min-width: v.$tablet) {
        font-size: 1.6rem;
      }

      @media (min-width: v.$mdpi) {
        font-size: 2.2rem;
      }

      &:first-of-type {
        @media (min-width: v.$mdpi) {
          padding-right: 1rem;
          grid-row: 2/3;
          grid-column: 1/2;
          border-right: 2px solid rgb(var(--tertiary));
        }
      }

      &:last-of-type {
        @media (min-width: v.$tablet) {
          font-size: 1.4rem;
          color: rgb(var(--tertiary-light));
        }

        @media (min-width: v.$mdpi) {
          grid-row: 1/2;
          grid-column: 2/3;
          font-size: 2.2rem;
        }
      }
    }

    &__languages {
      @include m.flex-center;

      .language {
        padding: 0 1rem;
        text-transform: uppercase;
        color: rgb(var(--secondary-light));
        font-size: 1.4rem;
        line-height: 1.5;
        color: rgb(var(--secondary-light));

        @media (min-width: v.$tablet) {
          font-size: 1.6rem;
        }

        @media (min-width: v.$mdpi) {
          font-size: 2.2rem;
        }

        &:not(:last-child) {
          border-right: 2px solid rgb(var(--tertiary-light));
        }
      }
    }

    &__phone {
      @include m.flex-center;
      font-size: 1.4rem;
      font-weight: 700;
      color: rgb(var(--tertiary-light));

      @media (min-width: v.$tablet) {
        font-size: 1.6rem;
      }

      @media (min-width: v.$mdpi) {
        grid-row: 2/3;
        grid-column: 2/3;
        font-size: 3.8rem;
        color: rgb(var(--secondary-light));
      }

      svg {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 5px;
        fill: rgb(var(--tertiary-light));

        @media (min-width: v.$mdpi) {
          width: 3.8rem;
          height: 3.8rem;
        }
      }

      &:hover {
        color: rgb(var(--tertiary));
      }
    }
  }

  .cta-button {
    width: 100%;
    height: 100%;
    @include m.flex-center;
    gap: 5px;
    background: rgb(var(--tertiary));
    border-radius: 0;
    transition: 0.3s ease-in-out;

    @media (min-width: v.$mdpi) {
      min-width: max-content;
      width: 100%;
      padding: 1.6rem 2.4rem;
      aspect-ratio: unset;
      border-radius: 38px;
      background: linear-gradient(
        180deg,
        rgb(var(--tertiary-dark)) 0%,
        rgb(var(--tertiary-light)) 50%,
        rgb(var(--tertiary-dark)) 100%
      );
      border: 1px solid rgb(var(--tertiary));
    }

    &:hover {
      background: linear-gradient(
        180deg,
        rgb(var(--primary-dark)) 0%,
        rgb(var(--primary-light)) 50%,
        rgb(var(--primary-dark)) 100%
      );
    }

    &__text {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1;
      color: rgb(var(--secondary-light));

      @media (min-width: v.$tablet) {
        width: auto;
        height: auto;
        position: static;
        z-index: auto;
        opacity: 1;
      }

      @media (min-width: v.$mdpi) {
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 700;
        color: rgb(var(--primary-dark));
        text-transform: uppercase;
      }
    }
  }
}
